/* NotJustAnna's Keycloak Theme */

/* ========================================== VARIABLES ============================================= */

:root {
    --color-neutral-800: lab(15.204% 0 -.00000596046);
    --color-muted-foreground: oklch(55.2% .016 285.938);
    --input-border: lab(90.952% 0 -.0000119209);
    --border-radius: calc(.625rem - 2px);
    --orange-600: oklch(0.65 0.19 41);
    --amber-500: oklch(0.77 0.16 70);
    --amber-600: oklch(0.67 0.16 58);
}

/* ========================================== GLOBAL EDITS ========================================== */

html, body {
    tab-size: 4;
    font-size: 16px;
    line-height: 1.5;
}

/* Change default font to Inter */
body, .pf-c-form-control, .pf-c-button {
    font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body {
    color: var(--color-neutral-800);
}

#kc-header-wrapper {
    text-transform: none !important;
    letter-spacing: normal !important;
}

.pf-c-form-control {
    font-size: 1rem;
    font-weight: 400;
    padding: 0.25rem 0.75rem !important;
    border-radius: var(--border-radius);
    border: 1px solid var(--input-border);
}

.pf-c-form-control:focus {
    /* Deanimate the form */
    padding: 0.25rem 0.75rem !important;
    border-bottom-width: 1px !important;
}

.pf-c-form__label-text {
    color: var(--color-neutral-800);
    font-size: .875rem;
    margin-bottom: 0.75rem;
    font-weight: 500;
}

.pf-c-input-group .pf-c-form-control + .pf-c-button.pf-m-control {
    font-size: 1rem;
    padding: 0.25rem 0.75rem !important;
    margin-left: 0.75rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--input-border);
    --pf-c-button--after--BorderColor: transparent;
}

.pf-c-button:not(.pf-m-control) {
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
}

.login-pf-page {
    padding-top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.login-pf-page .login-pf-header {
    margin-bottom: 0;
}

h1#kc-page-title {
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

#kc-content-wrapper {
    margin-top: 0;
}

/* ========================================== DESKTOP EDITS ========================================= */


@media (min-width: 768px) {
    .login-pf body {
        background: url(https://public.notjustanna.net/wallpapers/HalfwayBoats.jpg) no-repeat center center fixed;
        background-size: cover;
        height: 100%;
    }

    #kc-header-wrapper {
        padding: 0.5rem 1rem;
        color: white;
        background: linear-gradient(20deg, var(--orange-600) 0%, var(--amber-500) 100%);
        border-radius: calc(.625rem * 2 - 2px)
    }
    
    .card-pf {
        border-radius: calc(.625rem * 2 - 2px);
        border: 0;
    }

    .login-pf-page .login-pf-header h1 {
        text-align: left;
        font-size: 1.5rem;
    }
    .login-pf-page .login-pf-header {
        font-weight: 500;
        padding-bottom: 0.5rem;
    }

    .login-pf-page .card-pf {
        padding: 2rem;
    }

    .login-pf-page .login-pf-page-header {
        margin-bottom: 2rem;
    }

}

/* ========================================== MOBILE EDITS ========================================== */

@media (max-width: 767px) {
    .login-pf body {
        background: white;
    }

    #kc-header {
        margin-bottom: 0;
    }

    #kc-header-wrapper {
        text-align: center;
        padding: 0;
        font-weight: 600;
        font-size: 1.75rem;
        color: var(--color-neutral-800);
    }

    .login-pf-page .login-pf-header {
        color: var(--color-muted-foreground);
        font-weight: 600;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}
